.dashboard-card{
    width:200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px
}

#section-1, #section-2, #section-3{
    margin: 25px 0;
}

.nb-container{
    display: flex;
    justify-content: 'space-around';
}

.title-dashboard{
    margin-bottom: 25px;
}